# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List the commonly used libraries used by data scientists
* Evaluating some arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. C++
4. C

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. caret
3. Stringr

|Data Science Tools|
|------------------|
|jupyter lab|
|R Studio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Gihan Elanany